<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 *  Vidiom XML 
 * 
 * AUTHORS:
 * 
 * Andy Nicholson
 * 
 * 2010
 * Copyright Infinite Recursion Pty Ltd.
 * http://www.infiniterecursion.com.au
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.infiniterecursion.vidiompro"
    android:versionCode="25"
    android:versionName="0.6.16" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="7" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name="au.com.infiniterecursion.vidiom.VidiomApp"
        android:allowBackup="true"
        android:debuggable="false"
        android:description="@string/app_description"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="au.com.infiniterecursion.vidiom.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.infiniterecursion.vidiom.activity.PreferencesActivity"
            android:label="@string/prefTitle"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="au.com.infiniterecursion.intent.action.Preferences" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.infiniterecursion.vidiom.activity.LibraryActivity"
            android:label="@string/libraryTitle"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.infiniterecursion.vidiom.activity.TwitterOAuthActivity"
            android:label="@string/twitterTitle"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="TwitterOAuthActivityCallback"
                    android:scheme="vidiom" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.com.infiniterecursion.vidiom.activity.EditorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="au.com.infiniterecursion.vidiom.activity.FileDialogActivity"
            android:label="@string/defaultVideosFolderTitle"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="au.com.infiniterecursion.vidiom.activity.FileDialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>